/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
/*
=============== 
Global Styles/ Reset
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4 p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  font-weight: 400;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}
/* imgs easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01sms !important;
    scroll-behavior: auto !important;
  }
}
/* =========
utility clases 
=========== */
.hidden {
  display: none;
}
.inline {
  display: inline-block;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}
/* header */
.logo {
  margin: clamp(1.5rem, 5vw, 2rem);
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* SPACING .flow */
/* Seclect all the elements of a divider except the first Child */
/* It is use to make the top and botton line heights and borders the same */
/* Where is a way to group things, is lower on specificy so we dont overwrite things*/
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 1200px;
}

@media (max-width: 45em) {
  .flex-container {
    flex-direction: column;
  }
}

/* for the visually impaired -Hide Contten- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
body {
  background: #c3c8cc;
}
/* LANDING */

.container {
  display: flex;
  height: 100vh;
  align-items: center;
}
.my-description h1 {
  margin-block: 4rem;
  font-weight: bold;
  color: #234955;
}
.my-description p {
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 40rem;
}
.container .name {
  color: #2e6171;
  font-weight: bold;
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.contact a {
  color: #2e6171;
}
.empty {
  width: 600px;
}
/* BTN */
.btn {
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  font-size: 1rem;

  border-radius: 10px;
  transition: all 0.3s;
}
.btn-projects {
  padding: 0.8rem;
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1.2px;
  border-radius: 10px;
  transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  color: #2e6171;
  border-color: #2e6171;
}

/* ABOUT ME */
.about {
  background-color: rgb(223, 223, 223);
}
.container--about {
  gap: 3rem;
}
.title--about h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.column {
  width: 600px;
  max-width: 600px;
}
.about-info {
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 500;
  /* max-width: 40rem; */
}
.about-info span {
  color: #234955;
}
.icons {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 8rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  /* border: 1px solid lime; */
}
.icon {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.icon i {
  font-size: 2rem;
  color: #234955;
}
/* PROJECT CARDS  */
.title h1 {
  color: #234955;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4rem;
}
.projects {
  background-color: #c3c8cc;
  min-height: 100vh;
}
.container--projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media screen and (min-width: 1200px) {
  .container--projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.project {
  max-width: 358px;
  height: 416px;
  max-height: 416px;
  border: 2px solid #2e6171;
  border-radius: 10px;
  transition: all 0.5s;
}
.project:hover {
  transform: scale(1.1);
}
.project img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 181px;
  object-fit: stretch;
}
.project .info {
  padding: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: auto;
}
.project .info p {
  color: rgb(94, 94, 94);
}
.btn-card {
  margin-top: 1rem;
  margin-right: 1.5rem;
  padding: 0.4rem;
}
